/* color palette */
$default:    #D3D3D3; //LightGray
$primary:    #6A5ACD; //SlateBlue
$important:  #D87093; //PaleVioletRed
$success:    #9ACD32; //YellowGreen
$warning:    #FF6347; //tomato


/* value */
$full:         960px;
$grid:         12;
$col:          $full / $grid;

/* path */
$IMG_PATH: '../img/'; //インターポレーション使う
